<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(activity, i) in toDoList" :key="i" :class="!toDoList[i].done ? '' : 'done'" @click="toDoList[i].done=!toDoList[i].done">{{toDoList[i].text}}<button @click="deleteItem(i)">X</button></li> 
        </ul>
        <input type="text" v-model="newItem" @keyup.enter="addItem">
        <button @click="addItem">Aggiungi</button>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>
</html>